workflows/essay-feedback.json
{
  "name": "Essay Formative Feedback",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "student-info",
              "name": "studentName",
              "value": "Test Student",
              "type": "string"
            },
            {
              "id": "submission-text",
              "name": "submissionText",
              "value": "This is a sample student submission about customer service...",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-student-data",
      "name": "Set Student Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const studentName = $input.item.json.studentName;\nconst submission = $input.item.json.submissionText;\n\nconst prompt = `Provide formative feedback on this draft submission.\n\nSTUDENT: ${studentName}\n\nSUBMISSION:\n${submission}\n\nEVALUATE AGAINST RUBRIC:\n- Part 1: Customer Experience Analysis (35 pts)\n- Part 2: Service Recovery Strategy (35 pts)\n- Part 3: Resource-Constrained Proposal (30 pts)\n\nProvide:\n1. Brief feedback for each part (3-5 sentences)\n2. Specific strengths (2-3 points)\n3. Areas for improvement (2-3 points)\n4. Next steps for revision\n\nReturn as JSON:\n{\n  \"student_name\": \"${studentName}\",\n  \"feedback\": {\n    \"part1\": \"feedback text\",\n    \"part2\": \"feedback text\",\n    \"part3\": \"feedback text\"\n  },\n  \"strengths\": [\"point 1\", \"point 2\"],\n  \"improvements\": [\"point 1\", \"point 2\"],\n  \"next_steps\": [\"step 1\", \"step 2\"]\n}`;\n\nreturn { json: { prompt, studentName } };"
      },
      "id": "build-prompt",
      "name": "Build Feedback Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "formative-feedback"
            },
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "format",
              "value": "json"
            }
          ]
        }
      },
      "id": "call-ollama",
      "name": "Call Ollama AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json.response;\nconst studentName = $node['Build Feedback Prompt'].json.studentName;\n\nlet feedback;\ntry {\n  const clean = response.replace(/```json/g, '').replace(/```/g, '').trim();\n  feedback = JSON.parse(clean);\n} catch (e) {\n  return { json: { error: 'Failed to parse AI response', raw: response } };\n}\n\nconst formattedFeedback = `\nFORMATIVE FEEDBACK REPORT\n========================\n\nStudent: ${studentName}\nDate: ${new Date().toLocaleDateString()}\n\nThis is AI-generated formative feedback to support your learning.\nUse it to guide revision before submitting to your instructor.\n\n--- PART 1: CUSTOMER EXPERIENCE ---\n${feedback.feedback.part1}\n\n--- PART 2: SERVICE RECOVERY ---\n${feedback.feedback.part2}\n\n--- PART 3: STRATEGY PROPOSAL ---\n${feedback.feedback.part3}\n\n--- YOUR STRENGTHS ---\n${feedback.strengths.map((s, i) => `${i+1}. ${s}`).join('\\n')}\n\n--- AREAS TO DEVELOP ---\n${feedback.improvements.map((s, i) => `${i+1}. ${s}`).join('\\n')}\n\n--- NEXT STEPS ---\n${feedback.next_steps.map((s, i) => `${i+1}. ${s}`).join('\\n')}\n\nREMEMBER:\n- This is formative feedback, not a grade\n- You can request feedback multiple times\n- Final grades are determined by your instructor\n========================\n`;\n\nreturn { json: { feedback: formattedFeedback, studentName } };"
      },
      "id": "format-feedback",
      "name": "Format Feedback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Student Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Student Data": {
      "main": [
        [
          {
            "node": "Build Feedback Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Feedback Prompt": {
      "main": [
        [
          {
            "node": "Call Ollama AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama AI": {
      "main": [
        [
          {
            "node": "Format Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
